.coupon__block {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.coupon__item {
  width: 100%;
  max-width: 340px;
}

.item__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 16px 0;
}

.item__block a {
  color: unset;
  text-decoration: unset;
}

.item__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.item__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  width: 320px;
  height: 320px;
}

.item__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.item__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 340px);
  max-height: 340px;
}

.item__name {
  font-size: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

.item__price {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 0;
}

.item__description {
  font-size: 1.2em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.group {
  padding: 24px 0;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
}

.group .item__box {
  width: 360px;
  padding: 10px;
}

.group .item__image {
  width: 340px;
  height: 340px;
  padding: 0 0 16px 0;
}

.group .name {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

@media all and (max-width: 1200px) {
  .coupon__item {
    max-width: 33%;
  }
  .item__image {
    width: 30vw;
    height: 30vw;
  }
  .item__content {
    padding: 10px;
    width: calc(100% - 30vw);
  }
  .group .item__box {
    width: 32vw;
  }
  .group .item__image {
    width: 30.5vw;
    height: 30.5vw;
  }
}

@media all and (max-width: 720px) {
  .coupon__item {
    max-width: 100%;
  }
  .item__image {
    width: 100vw;
    height: 100vw;
    padding: 10px;
  }
  .item__content {
    padding: 10px;
    width: 100%;
    max-height: 340px;
  }
  .group .item__box {
    width: 100vw;
  }
  .group .item__image {
    width: 100vw;
    height: 100vw;
  }
}

@media all and (max-width: 640px) {
  .comment__block {
    padding-top: 50px;
  }
  .comment__block .comment__title {
    width: 90%;
    padding: 0 12px;
    font-size: 1.7em;
  }
  .comment__block .comment__ranking__rate img {
    max-width: 35px;
  }
  .comment__block .comment__ranking__rate span:first-child {
    width: 100%;
  }
  .comment__block .comment__ranking__content {
    width: 100%;
  }
  .comment__block .comment__ranking__content a {
    padding: 5px 0;
  }
  .comment__block .comment__item__name > div {
    width: 100%;
  }
  .comment__block .comment__item__comment {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
  }
}
